Source: python-marshmallow-sqlalchemy
Section: python
Priority: optional
Maintainer: Pexip AS <packaging@pexip.com>
XSBC-Pexip-Original-Maintainer: Debian Python Team <team+python@tracker.debian.org>
XSBC-Pexip-Original-Uploaders: Utkarsh Gupta <guptautkarsh2102@gmail.com>,
           Emmanuel Arias <eamanu@yaerobi.com>,
Build-Depends: debhelper-compat (= 13),
               dh-python,
               python3-all,
               python3-marshmallow,
               python3-pytest <!nocheck>,
               python3-pytest-lazy-fixture (>= 0.6.2) <!nocheck>,
               python3-setuptools,
               python3-sqlalchemy,
Standards-Version: 4.6.2
Vcs-Browser: https://salsa.debian.org/python-team/packages/python-marshmallow-sqlalchemy
Vcs-Git: https://salsa.debian.org/python-team/packages/python-marshmallow-sqlalchemy.git
Homepage: https://marshmallow-sqlalchemy.readthedocs.io/en/latest/
Rules-Requires-Root: no
XS-Pexip-Upstream: http://ftp.debian.org/debian/ bookworm

Package: python3-marshmallow-sqlalchemy
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends},
Description: SQLAlchemy integration with marshmallow
 SQLAlchemy integration with the marshmallow (de)serialization library.
 .
 It allows one to declare your models, generate marshmallow schemas, and
 (de)serialize your data.
